<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- 🔗 การเชื่อมต่อฐานข้อมูล SQL Server -->
	<connectionStrings>
  <add name="ShopConnection" connectionString="Data Source=GGINGERK\SQLEXPRESS;                            Initial Catalog=Project02;                            Integrated Security=True;                            Encrypt=True;                            TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Project02ConnectionString" connectionString="Data Source=INTHARATNINRAT\SQLEXPRESS;Initial Catalog=Project02;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Project02ConnectionString1" connectionString="Data Source=INTHARATNINRAT\SQLEXPRESS;Initial Catalog=Project02;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Project02ConnectionString2" connectionString="Data Source=INTHARATNINRAT\SQLEXPRESS;Initial Catalog=Project02;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<!-- ⚙️ การตั้งค่าระบบ ASP.NET -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<!-- 🧠 การคอมไพล์โค้ด C#/VB -->
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform" warningLevel="4" compilerOptions="/langversion:default" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform" warningLevel="4" compilerOptions="/langversion:default /optionInfer+" />
		</compilers>
	</system.codedom>
	<!-- 🌐 ตั้งค่าเริ่มต้นของเว็บ -->
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Pages/Home.aspx" />
				<!-- หน้าหลักของเว็บ -->
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />c
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>